.heading-primary {
    text-transform: uppercase;
    color: $color-white;

    &--main {
        display: block;
        letter-spacing: 3rem;
        /* font-size: 150%; */
        font-size: 7rem;
        font-weight: 500;

        animation-name: moveInLeft;
        animation-duration: .7s;
        animation-timing-function: ease-out;
        animation-delay: .75s;
        animation-fill-mode: backwards;
    }

    &--sub {
        display: block;
        letter-spacing: 1.7rem;
        /* font-size: 50%; */
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 6rem;

        animation-name: moveInRight;
        animation-duration: .7s;
        animation-timing-function: ease-out;
        animation-delay: .75s;
        animation-fill-mode: backwards;
    }
}