.heading-primary {
    text-transform: uppercase;
    color: $color-white;

    &--main {
        display: block;
        letter-spacing: 3rem;
        /* font-size: 150%; */
        font-size: 7rem;
        font-weight: 500;

        animation-name: moveInLeft;
        animation-duration: .7s;
        animation-timing-function: ease-out;
        animation-delay: .75s;
        animation-fill-mode: backwards;
    }

    &--sub {
        display: block;
        letter-spacing: 1.7rem;
        /* font-size: 50%; */
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 6rem;

        animation-name: moveInRight;
        animation-duration: .7s;
        animation-timing-function: ease-out;
        animation-delay: .75s;
        animation-fill-mode: backwards;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text; // the background gets clipped exactly where the text is 
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, 0.2);
    }
}

.heading-tertiary {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
}

.paragraph {
    font-size: 1.6rem;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}