/*

orange color: #e67e22;

-- All tips is in omnifood

1, Use div(image and text) which decriables your image in 1 line
---> div has display: block
---> set image has vertical-text: middle

2, Use image which is fixed if you drop up and drop down the webpage
---> set backgroud-attachment: fixed

3, Copy BASIC SETUP in all webpage.

4, Use many similar classname if all features of that are similar.

5, Use transition in :link,visited to animation all features.

6, Use space without deleted: &nbsp 

7, Form: focus(inside textbox), outline(around textbox).

8, Form: autocomplete:"off" to disable textbox suggestions.
*/


/*----------------------------------------------------*/
/* BASIC SETUP
/*----------------------------------------------------*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 10px;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #555555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*----------------------------------------------------*/
/* REUSABLE COMPONENTS
/*----------------------------------------------------*/

.row {
    width: 92vw;
    margin: 0 auto;
}

section {
    padding: 8rem 0;
}

.box {
    padding: 1%;
}

/*----HEADINGS----*/
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin: 0rem 0rem 3rem 0rem !important;
    font-size: 240%;
    color: #fff;
    word-spacing: .4rem;
    letter-spacing: .1rem;
}

h2 {
    display: block;
    text-align: center;
    font-size: 180%;
    word-spacing: .2rem;
    letter-spacing: .1rem;
}

h3 {
    font-size: 110%;
    font-weight: 300;
    margin: 2rem 0rem;
}

h2:after {
    display: block;
    width: 15%;
    height: .2rem;
    background-color: #e67e22;
    content: " ";
    margin: 2rem auto;
}

/*----PARAGRAPHS----*/
.long-copy {
    line-height: 140%;
    width: 68%;
    margin: 2rem 16%;
}

.box p {
    line-height: 140%;
    font-size: 90%;
    margin: 2rem auto;
}

/*----ICONS----*/

.big-icon {
    font-size: 400%;
    color: #e67e22;
    margin-bottom: 1rem;
}


.small-icon {
    color: #e67e22;
    font-size: 100%;
    text-align: center;
    margin-right: 1rem;

    /* fix middle text */
    vertical-align: middle;
    line-height: 145%;
}

/*----LINKS----*/
a:link,
a:visited {
    text-decoration: none;
    color: #e67e22;
    border-bottom: .1rem solid #e67e22;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555555;
    border-bottom: .1rem solid transparent;
}

/*----Buttons----*/
.btn:link,
.btn:visited, 
input[type=submit]{
    display: inline-block;
    font-weight: 300;
    padding: 1rem 3rem;
    text-decoration: none;
    border-radius: 20rem;
    margin-right: 1rem;
    transition: background-color 0.2s, border 0.2, color 0.2s;
}

.btn:hover,
.btn:active, 
input[type=submit]{
    background-color: #cf6d16;
}

.btn-full:link,
.btn-full:visited, 
input[type=submit] {
    background-color: #e67e22;
    color: #fff;
    border: .1rem solid #e67e22;
}


.btn-full:hover,
.btn-full:active, 
input[type=submit] {
    border: .1rem solid #cf6d16;
}

.btn-ghost:link,
.btn-ghost:visited {
    color: #e67e22;
    border: .1rem solid #e67e22;
}

.btn-ghost:hover,
.btn-ghost:active {
    color: #fff;
    border: .1rem solid #cf6d16;
}

/*----------------------------------------------------*/
/* HEADER
/*----------------------------------------------------*/

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-position: center;
    background-size: cover;
    /* full image for seeing */
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

.hero-text-box {
    width: 92vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-white {
    height: 10rem;
    width: auto;
    float: left;
    margin-top: 3rem;
    display: inline-block;
}

.logo-black {
    height: 10rem;
    width: auto;
    float: left;
    margin-top: 3rem;
    color: #555;
    display: none;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 6rem;
}

.main-nav li {
    display: inline-block;
    margin-left: 4rem;
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: .2rem solid transparent;
    transition: border-bottom 0.2s;
    padding: 1rem .8rem;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: .2rem solid #e67e22;
}

/* Sticky */
.sticky {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:#fff;
    box-shadow: .2rem .5rem 10rem #000;
    z-index: 1;
}

.sticky .logo-black {
    height: 7rem;
    width: auto;
    float: left;
    margin: 1.5rem auto;
}

.sticky .main-nav {
    float: right;
    list-style: none;
    line-height: 8vh;
    margin-top: 0;
}

.sticky .main-nav li {
    display: inline;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    color: #555;
    font-size: 110%;
    padding: 1.6rem .8rem;
}

.sticky .main-nav li a:hover,
.sticky .main-nav li a:active {
    border-bottom: 1rem solid #e67e22;
}

.sticky .logo-black {
    display: inline-block;
}

.sticky .logo-white {
    display: none;
}

/*----------------------------------------------------*/
/* MEALS
/*----------------------------------------------------*/
.section-meals {
    width: 100%;
    padding: 0;
}

.meals-showcase {
    list-style: none;
    /* 2 basic first thing for ul */
    width: 100%;
}

.meals-showcase li {
    /* set width and position for each li (element internal )*/
    width: 25%;
    margin: 0;
    float: left;
    overflow: hidden;
    /* hide when photo is big scaled */
}

.meals-photo {
    width: 100%;
    background-color: #000;
}

.meals-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.meals-photo img:hover {
    opacity: 1;
    transform: scale(1.05);
}

/*----------------------------------------------------*/
/* STEPS
/*----------------------------------------------------*/
.section-steps {
    background-color: #f0f0f0;
}

.box-steps:first-child {
    margin-top: 3rem;
    padding-right: 4rem;
}

.box-steps:last-child {
    margin-top: 5rem;
    padding-left: 4rem;
}

.app-photo {
    float: right;
    width: 20rem;
    height: auto;
}

.work-steps div {
    display: inline-block;
    border: 2px solid #e67e22;
    height: 5rem;
    width: 5rem;
    text-align: center;
    border-radius: 50%;
    padding: 1rem;
    float: left;
    margin-right: 2rem;
    margin-top: .6rem;
}

.work-steps p {
    margin-bottom: 4rem;
    line-height: 145%;
}

a.btn-app {
    border: 0;
}

.btn-app img {
    margin-top: 2rem;
    width: auto;
    height: 5rem;
}

/*----------------------------------------------------*/
/* CITIES
/*----------------------------------------------------*/

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 3rem;
}

.cities-features {
    margin-top: .2rem;
    font-weight: 300;

}

/*----------------------------------------------------*/
/* COMMENTS
/*----------------------------------------------------*/

.section-comment {
    background-color: #000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    font-weight: 300;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    margin-top: 4rem;
    position: relative;
    font-size: 95%;
}

blockquote p:before{
    content:"\201C";
    display: block;
    font-size: 500%;
    position: absolute;
    top: -1.5rem;
    left: -1.5rem;
}

cite {
    margin-top: 3rem;
    display: block;
    font-size: 90%;
}

cite img {
    margin-right: 1rem;
    height: 4.5rem;
    border-radius: 50%;
    vertical-align: middle;
}


/*----------------------------------------------------*/
/* SIGN UP
/*----------------------------------------------------*/

.section-sign-up {
    background-color: #f0f0f0;
}

.plan-box {
    margin-left: 5%;
}

.plan-box div:first-child {
    background-color: #f7f7f7;
    padding-left: 5%;
    padding-top: 2%;
}

.plan-box div p:first-of-type{
    color: #e67e22;
    font-size: 200%;
    margin-bottom: 1.5rem;
}

.plan-box div p:last-of-type{
    font-size: 90%;
    padding-bottom: 2rem;
}

.plan-box div span {
    font-size: 50%;
}

.plan-box ul {
    list-style: none;
    background-color: #fff;
    margin-top: .1rem;
    padding-left: 5%;
    padding-top: 2%;
}

.plan-box li {
    display: block;
    line-height: 145%;
    font-size: 90%;
}

.plan-box li:last-child {
    padding-bottom: 2rem;
}

.plan-box li i {
    vertical-align: middle;
}

.plan-box div:last-of-type {
    margin-top: .1rem;
    padding: 1.5rem 0rem;
    background-color: #fff;
    text-align: center;
}


/*----------------------------------------------------*/
/* CONTACT
/*----------------------------------------------------*/

.form-contact .row {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 2rem;
}


input[type=text],
input[type=email],
select, 
textarea {
    width: 100%;
    padding: 1%;
    border-radius: .6rem;
    border: .1rem solid #000;
    font-weight: 300;
}

*:focus { 
    outline: none;
    background-color: #ffff75;
}


/*----------------------------------------------------*/
/* FOOTER
/*----------------------------------------------------*/

.footer {
    background-color: #333;
    padding: 5rem;
    font-size: 90%;
    color: #a4a4a4;
}

.footer-nav {
    list-style: none;
    float: left;
}

.footer-nav li {
    display: inline-block;
    margin-right: 1.5rem;
}

.footer-nav li a {
    border: 0;
    color: #a4a4a4;
    transition: color 0.2s;
}

.footer-nav li a:hover {
    color: #fff;
}


.footer-social {
    list-style: none;
    float: right;
}


.footer-social li {
    display: inline-block;
    margin-right: 1.5rem;
}

.footer-social li:last-child {
    margin-right: 2rem;
    margin-bottom: 3rem; 
}

.footer-social li i {
    font-size: 170%;
    transition: color 0.2s;
}

.footer p {
    text-align: center;
    margin-bottom: 2rem;
}

.footer p:last-child{
    color: #fff;
}


.ion-logo-facebook:hover {
    color: #3b5999;
}

.ion-logo-twitter:hover {
    color: #55acee;
}

.ion-logo-googleplus:hover {
    color: #dd4b39;
}

.ion-logo-instagram:hover {
    color: #e4405f;
}










