<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,600" rel="stylesheet" type="text/css">
    
        <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/css/style.css">
        <title>AES Algorithm</title>
    </head>

    <body>
        <div class="wrapper clearfix">
            <div class="algo-0-panel active">
                    <div class="algo-name" id="name-0">Encription</div>

                    <form class="AES-form" action="/cryptAES" method="POST">
                        <div class="form-control">
                            <label for="">File encrypt</label>
                            <input 
                                type="file" 
                                name="fileEn" 
                                id="fileEn" >
                        </div>

                        <div class="form-control">
                            <label for="">File key for encrypt</label>
                            <input 
                                type="file" 
                                name="fileKeyEn" 
                                id="fileKeyEn" >
                        </div>

                        <div class="form-control">
                            <button type="submit" class="btn-en"><i class="ion-ios-cog"></i>Encrypt</button>
                        </div>

                    </form>
                </div>
                
                <div class="algo-1-panel">
                    <div class="algo-name" id="name-1">Decription</div>
                    <div class="form-control">
                        <label for="">Decrypted File</label>
                        <input 
                            type="file" 
                            name="fileDe" 
                            id="fileDe" >
                    </div>

                    <div class="form-control">
                        <label for="">Key of File for decrypting</label>
                        <input 
                            type="file" 
                            name="fileKeyDe" 
                            id="fileKeyDe" >
                    </div>

                    <div class="form-control">
                        <button class="btn-de"><i class="ion-md-construct"></i>Decrypt</button>
                    </div>
                </div>
                
                <button class="btn-title">AES Algorithm</button>

                <form class="RSA-form" action="/cryptRSA" method="GET">
                    <button class="btn-RSA"><i class="ion-md-arrow-round-back"></i>RSA Algorithm</button>
                </form>

                <form class="DES-form" action="/cryptDES" method="GET">
                    <button class="btn-AES">DES Algorithm&nbsp;<i class="ion-md-arrow-round-forward"></i></button>
                </form>
                <!-- <input type="text" placeholder="Final" class="final-score"> -->
        </div>
    
        <!--<script src="app.js"></script>-->
        <script src="challenges.js"></script>
    </body>
</html>