.header {
    background-size: cover;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)),url(../img/hero.jpg);
    background-position: center;
    height: 95vh;
    position: relative;

    
    clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0 100%);


    &__logo {
        height: 3.5rem;
        position: absolute;
        top: 3.5rem;
        left: 3rem;
    }

    &__text-box {
        display: inline;
        position: absolute;
        top: 40%;
        left: 50%;
        text-align: center;
        z-index: -1;
        backface-visibility: hidden;
        transform: translate(-50%, -50%);
    }
}